<header>
  <img src="https://avatars2.githubusercontent.com/u/1654225?s=280">
  <h1 id='name'>Christopher Lee</h1>
  <p>Taking each day as it comes.</p>
  <ol>
    <li><a href="/index.html">About</a></li>
    <li><a href="/blog.html">Blog</a></li>
  </ol>
  <ol>
    <li>
      <a href="http://www.linkedin.com/pub/christopher-lee/9/558/483"><i class="fa fa-linkedin fa-2x"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/Creeefs"><i class="fa fa-twitter fa-2x"></i></a>
    </li>
    <li>
      <a href="http://www.github.com/Clee681"><i class="fa fa-github fa-2x"></i></a>
    </li>
  </ol>
  <br>
</header>